

#weaponAccordion {
    display: inline-block;
    float: left;
    background-color: grey;
    width: 204px;
    height: 365px;
    margin-left: 10px;
}

.weaponAccordionTabs {
    padding-left: 0pt;
    cursor: pointer;
    margin: 15px auto 0 auto;
    color: white;
    box-shadow: 
        0 5px 15px 1px rgba(0, 0, 0, 0.6), 
	0 0 200px 1px rgba(255, 255, 255, 0.5);
}

.weaponAccordionLI {
    list-style-type: none;
    font-size: 19px;
    text-align: left;
    text-indent: 10px;
    background-color: orange;
    background: linear-gradient(#D65C33, #B84A00);
}

#weaponChild {
    display: none;
    padding-left: 0pt;
    background-color: #3E4146;
    font-size: 14px;
}

.weaponChildLI {
    color: white;
    list-style-type: none;
}

.weaponHighlight {
    background: #003545;
    border-left: 5px solid lightgreen;
}

.critContainers {
    display: inline-block;
    float: left;
    width: 90px;
    background-color: lightgray;
    margin-left: 5px;
    font-size: 14px;
    color: black;
    font-weight: strong;
}

#leftArmCrits {
    margin-left: 9px;
    margin-top: 40px;
    height: auto;
}

#leftTorsoCrits {
    margin-top: 20px;
    height: auto;
    background-color: lightgray;
}

#headCrits {
    margin-top: 0px;
    height: auto;
    margin-bottom: 15px;
    background-color: lightgray;
}

#rightTorsoCrits {
    margin-top: 20px;
    height: auto;
    background-color: lightgray;
}

#rightArmCrits {
    margin-top: 40px;
    height: auto;
}

#torsoCrits {
    height: auto;
    border-top: 5px solid grey;
    background-color: lightgray;
}

#leftLegCrits {
    height: auto;
    border-top: 5px solid grey;
    background-color: lightgray;
    margin-top: 20px;
}

#rightLegCrits {
    height: auto;
    border-top: 5px solid grey;
    background-color: lightgray;
    margin-top: 20px;
}

#weaponInfo {
    font-weight: bold;
    background-color: #3E4146;
    margin-left: 2.5%;
    margin-bottom: 10px;
    font-family: Verdana, Geneva, Arial, sans-serif;
    font-size: 10px;
    color: white;
    width: 95%;
}

#weaponInfo tr {
    height: 27px;
}

#weaponInfo td {
    border-bottom: 1px solid lightgrey;
    border-collapse: collapse;
    text-align: center;
    box-shadow: 0 0 black, 0 1px black, 1px 0 black, 0 0 black;
}

.critSlots {
    font-family: Verdana, Geneva, Arial, sans-serif;
    font-size: 8px;
    color: black;
}

.critSlots tr td {
    text-align: center;
    box-shadow: 0px 0px 5px black;
    width: 90px;
    height: 11px;
   //-webkit-box-shadow: 0px 0px 10px black;
   //-moz-box-shadow: 0px 0px 10px black;
    max-width: 84px;
    overflow: auto;
}

.draggingWeapon {
    background: orange;
    width: 80px;
    height: 12px;
    font-size: 8px;
}

.dropSlotsTD {
    cursor: pointer;
}
